In [5]:
import pandas as pd

In [6]:
df = pd.read_pickle('chrom_22.pkl')

In [7]:
df.head()

,chrom,gene,intron,lmm-pval,pos,qep-pval,snp_id
0,22,ENSG00000015475,6,0.836790,18227957,0.770866,snp_22_18227957
1,22,ENSG00000015475,6,0.836790,18227978,0.770866,snp_22_18227978
2,22,ENSG00000015475,6,0.836790,18228127,0.770866,snp_22_18228127
3,22,ENSG00000015475,6,0.895987,18228505,0.787397,snp_22_18228505
4,22,ENSG00000015475,6,0.245580,18228653,0.277546,snp_22_18228653