In [1]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_pickle('chrom_null.pkl')
df.set_index(['gene', 'intron'], inplace=True)
df.sort_index(inplace=True)
df.head()

                        chrom  lmm-pval  lmm-rank-pval       pos  qep-pval  \
gene            intron
ENSG00000000419 5          20  0.477324       0.406138  42131442  0.386107
                5          20  0.039244       0.014254  42131753  0.009565
                5          20  0.573356       0.590113  42132193  0.654554
                5          20  0.825621       0.945350  42132273  0.963257
                5          20  0.910330       0.857315  42132314  0.891363

                                      snp_id
gene            intron
ENSG00000000419 5            snp_19_42131442
                5       indel:1I_19_42131753
                5            snp_19_42132193
                5            snp_19_42132273
                5            snp_19_42132314

In [35]:
df.reset_index(inplace=True)
df.set_index(['gene', 'intron', 'snp_id'], inplace=True)
df.head()

                                             index  chrom  lmm-pval  \
gene            intron snp_id
ENSG00000000419 5      snp_19_42131442           0     20  0.477324
                       indel:1I_19_42131753      1     20  0.039244
                       snp_19_42132193           2     20  0.573356
                       snp_19_42132273           3     20  0.825621
                       snp_19_42132314           4     20  0.910330

                                             lmm-rank-pval       pos  qep-pval
gene            intron snp_id
ENSG00000000419 5      snp_19_42131442            0.406138  42131442  0.386107
                       indel:1I_19_42131753       0.014254  42131753  0.009565
                       snp_19_42132193            0.590113  42132193  0.654554
                       snp_19_42132273            0.945350  42132273  0.963257
                       snp_19_42132314            0.857315  42132314  0.891363

In [36]:
df.sort_index(inplace=True)

In [41]:
methods = ['lmm', 'lmm-rank', 'qep']

DF = dict()
for method in methods:
    DF[method] = df[['%s-pval' % method, 'chrom', 'pos']].copy()

In [42]:
for method in methods:
    DF[method]['p-value'] = DF[method]['%s-pval' % method]

In [44]:
for method in methods:
    del DF[method]['%s-pval' % method]

In [47]:
for method in methods:
    DF[method]['label'] = method
    DF[method].reset_index(inplace=True)
    DF[method].set_index(['gene', 'intron', 'snp_id', 'label'], inplace=True)
    DF[method].sort_index(inplace=True)

In [50]:
for method in methods:
    DF[method].reset_index(inplace=True)
    DF[method]["marker"] = DF[method]['gene'].astype(str) + DF[method]['intron'].astype(str) + DF[method]['snp_id'].astype(str)

In [53]:
for method in methods:
#     del DF[method]['index']
    del DF[method]['snp_id']
    del DF[method]['chrom']
    del DF[method]['pos']

KeyError: 'snp_id'

In [56]:
DF['lmm'].head()

,gene,intron,label,p-value,marker
0,ENSG00000000419,5,lmm,0.890446,ENSG000000004195indel:1D_19_42138740
1,ENSG00000000419,5,lmm,0.903899,ENSG000000004195indel:1D_19_42165671
2,ENSG00000000419,5,lmm,0.974254,ENSG000000004195indel:1D_19_42166488
3,ENSG00000000419,5,lmm,0.276557,ENSG000000004195indel:1D_19_42188032
4,ENSG00000000419,5,lmm,0.000505,ENSG000000004195indel:1D_19_42188103

In [57]:
DF['lmm-rank'].head()

,gene,intron,snp_id,label,chrom,pos,p-value,marker
0,ENSG00000000419,5,indel:1D_19_42138740,lmm-rank,20,42138740,0.776334,ENSG000000004195indel:1D_19_42138740
1,ENSG00000000419,5,indel:1D_19_42165671,lmm-rank,20,42165671,0.884710,ENSG000000004195indel:1D_19_42165671
2,ENSG00000000419,5,indel:1D_19_42166488,lmm-rank,20,42166488,0.962723,ENSG000000004195indel:1D_19_42166488
3,ENSG00000000419,5,indel:1D_19_42188032,lmm-rank,20,42188032,0.389594,ENSG000000004195indel:1D_19_42188032
4,ENSG00000000419,5,indel:1D_19_42188103,lmm-rank,20,42188103,0.124509,ENSG000000004195indel:1D_19_42188103

In [58]:
method = 'lmm-rank'
del DF[method]['snp_id']
del DF[method]['chrom']
del DF[method]['pos']

In [59]:
DF['lmm-rank'].head()

,gene,intron,label,p-value,marker
0,ENSG00000000419,5,lmm-rank,0.776334,ENSG000000004195indel:1D_19_42138740
1,ENSG00000000419,5,lmm-rank,0.884710,ENSG000000004195indel:1D_19_42165671
2,ENSG00000000419,5,lmm-rank,0.962723,ENSG000000004195indel:1D_19_42166488
3,ENSG00000000419,5,lmm-rank,0.389594,ENSG000000004195indel:1D_19_42188032
4,ENSG00000000419,5,lmm-rank,0.124509,ENSG000000004195indel:1D_19_42188103

In [60]:
method = 'qep'
del DF[method]['snp_id']
del DF[method]['chrom']
del DF[method]['pos']

In [61]:
DF['qep'].head()

,gene,intron,label,p-value,marker
0,ENSG00000000419,5,qep,0.681601,ENSG000000004195indel:1D_19_42138740
1,ENSG00000000419,5,qep,0.783540,ENSG000000004195indel:1D_19_42165671
2,ENSG00000000419,5,qep,0.853694,ENSG000000004195indel:1D_19_42166488
3,ENSG00000000419,5,qep,0.435262,ENSG000000004195indel:1D_19_42188032
4,ENSG00000000419,5,qep,0.094594,ENSG000000004195indel:1D_19_42188103

In [62]:
for method in methods:
    DF[method].set_index(["label", "marker"], inplace=True)
    DF[method].sort_index(inplace=True)

In [63]:
DF['qep'].head()

                                                       gene  intron   p-value
label marker
qep   ENSG000000004195indel:1D_19_42138740  ENSG00000000419       5  0.681601
      ENSG000000004195indel:1D_19_42165671  ENSG00000000419       5  0.783540
      ENSG000000004195indel:1D_19_42166488  ENSG00000000419       5  0.853694
      ENSG000000004195indel:1D_19_42188032  ENSG00000000419       5  0.435262
      ENSG000000004195indel:1D_19_42188103  ENSG00000000419       5  0.094594

In [64]:
DF0 = pd.concat([DF[method] for method in methods])

In [65]:
DF0.head()

                                                       gene  intron   p-value
label marker
lmm   ENSG000000004195indel:1D_19_42138740  ENSG00000000419       5  0.890446
      ENSG000000004195indel:1D_19_42165671  ENSG00000000419       5  0.903899
      ENSG000000004195indel:1D_19_42166488  ENSG00000000419       5  0.974254
      ENSG000000004195indel:1D_19_42188032  ENSG00000000419       5  0.276557
      ENSG000000004195indel:1D_19_42188103  ENSG00000000419       5  0.000505

In [67]:
DF0['intron'].dtype

dtype('int64')

In [68]:
DF0['p-value'].dtype

dtype('float64')

In [69]:
DF0.to_pickle('DF0.pkl')

In [ ]:
DF0_small = DF0.iloc[10500000:90600000]
show(qqplot(DF0_small, figure=bokeh.plotting.figure(tools=[], width=900)))

In [3]:
from bokeh.io import push_notebook, output_notebook
from bokeh.models import HoverTool, ColumnDataSource
from bokeh.plotting import show, output_file
import bokeh
output_notebook()

In [72]:
import numpy as np
import colour
from scipy.special import betaincinv
from limix_plot import cycler_ as cycler
from collections import OrderedDict
from numpy import asarray as asa

def expected(n):
    lnpv = np.linspace(1/(n+1), n/(n+1), n, endpoint=True)
    return np.flipud(-np.log10(lnpv))

from scipy.special import betaincinv

def rank_confidence_band(nranks):
    alpha = 0.01
    n = nranks

    k0 = np.arange(1, n+1)
    k1 = np.flipud(k0).copy()

    top = betaincinv(k0, k1, 1-alpha)
    mean = k0 / (n + 1)
    bottom = betaincinv(k0, k1, alpha)

    return (bottom, mean, top)

def qqplot(df, figure=None, colors=None, threshold=1.0):
    import bokeh
    import bokeh.palettes
    
    if figure is None:
        figure = bokeh.plotting.figure(tools=['hover,box_zoom,save,pan,reset'], width=900)
    
    labels = list(df.index.get_level_values(0).unique())
    if colors is None:
        colors = dict()
        colors_iter = iter(bokeh.palettes.brewer['Spectral'][11])
        for label in labels:
            colors[label] = next(colors_iter)
    
    for label in labels:
        df0 = df.loc[(label,),:]
        
        pv = df0['p-value'].values
        lpv = -np.log10(pv)
        lpv_sort = np.argsort(lpv)
        expected_lpv = expected(len(lpv))

        ok = pv[lpv_sort] <= threshold

        source = ColumnDataSource(data=dict(
            xname=expected_lpv[ok],
            yname=lpv[lpv_sort][ok],
            pval=pv[lpv_sort][ok]
        ))

        fill_alpha = 0.8
        figure.circle('xname', 'yname', source=source, color=colors[label],
                 fill_alpha=fill_alpha, line_width=0, line_color=None,
                 legend=label)

    (bo, mean, to) = rank_confidence_band(len(lpv))
    me = [-np.log10(m) for m in mean]
    figure.line([me[0], me[-1]], [me[0], me[-1]], color='black')
    figure.legend.location = 'top_left'
    
    bo = np.flipud(-np.log10(bo))
    me = np.flipud(-np.log10(mean))
    to = np.flipud(-np.log10(to))

    band_x = np.append(me, me[::-1])
    band_y = np.append(bo, to[::-1])
    figure.patch(band_x, band_y, line_color='black', fill_color='black', fill_alpha=0.15, line_alpha=0.5)

    return figure

In [5]:
df.head()

                        chrom  lmm-pval  lmm-rank-pval       pos  qep-pval  \
gene            intron
ENSG00000000419 5          20  0.477324       0.406138  42131442  0.386107
                5          20  0.039244       0.014254  42131753  0.009565
                5          20  0.573356       0.590113  42132193  0.654554
                5          20  0.825621       0.945350  42132273  0.963257
                5          20  0.910330       0.857315  42132314  0.891363

                                      snp_id
gene            intron
ENSG00000000419 5            snp_19_42131442
                5       indel:1I_19_42131753
                5            snp_19_42132193
                5            snp_19_42132273
                5            snp_19_42132314

In [6]:
DF = pd.DataFrame(columns=['label', 'marker', 'p-value']).set_index(['label', 'marker'])
DF['p-value'] = DF['p-value'].astype(float)

In [7]:
df = df.reset_index()
df.head()

,gene,intron,chrom,lmm-pval,lmm-rank-pval,pos,qep-pval,snp_id
0,ENSG00000000419,5,20,0.477324,0.406138,42131442,0.386107,snp_19_42131442
1,ENSG00000000419,5,20,0.039244,0.014254,42131753,0.009565,indel:1I_19_42131753
2,ENSG00000000419,5,20,0.573356,0.590113,42132193,0.654554,snp_19_42132193
3,ENSG00000000419,5,20,0.825621,0.945350,42132273,0.963257,snp_19_42132273
4,ENSG00000000419,5,20,0.910330,0.857315,42132314,0.891363,snp_19_42132314

In [8]:
df = df.set_index(['gene', 'intron', 'snp_id'])

In [9]:
df.head()

                                             chrom  lmm-pval  lmm-rank-pval  \
gene            intron snp_id
ENSG00000000419 5      snp_19_42131442          20  0.477324       0.406138
                       indel:1I_19_42131753     20  0.039244       0.014254
                       snp_19_42132193          20  0.573356       0.590113
                       snp_19_42132273          20  0.825621       0.945350
                       snp_19_42132314          20  0.910330       0.857315

                                                  pos  qep-pval
gene            intron snp_id
ENSG00000000419 5      snp_19_42131442       42131442  0.386107
                       indel:1I_19_42131753  42131753  0.009565
                       snp_19_42132193       42132193  0.654554
                       snp_19_42132273       42132273  0.963257
                       snp_19_42132314       42132314  0.891363

In [10]:
df["index"] = df.index.values

In [11]:
df.head()

                                             chrom  lmm-pval  lmm-rank-pval  \
gene            intron snp_id
ENSG00000000419 5      snp_19_42131442          20  0.477324       0.406138
                       indel:1I_19_42131753     20  0.039244       0.014254
                       snp_19_42132193          20  0.573356       0.590113
                       snp_19_42132273          20  0.825621       0.945350
                       snp_19_42132314          20  0.910330       0.857315

                                                  pos  qep-pval  \
gene            intron snp_id
ENSG00000000419 5      snp_19_42131442       42131442  0.386107
                       indel:1I_19_42131753  42131753  0.009565
                       snp_19_42132193       42132193  0.654554
                       snp_19_42132273       42132273  0.963257
                       snp_19_42132314       42132314  0.891363

                                                                                  index
gene            intron snp_id
ENSG00000000419 5      snp_19_42131442            (ENSG00000000419, 5, snp_19_42131442)
                       indel:1I_19_42131753  (ENSG00000000419, 5, indel:1I_19_42131753)
                       snp_19_42132193            (ENSG00000000419, 5, snp_19_42132193)
                       snp_19_42132273            (ENSG00000000419, 5, snp_19_42132273)
                       snp_19_42132314            (ENSG00000000419, 5, snp_19_42132314)

In [14]:
df.reset_index(inplace=True)

In [16]:
df_new = df.set_index("index")

In [ ]:
# DF.loc[('qep', )]
# for (i, m) in enumerate(marker):
#     df.loc[('qep', m), 'p-value'] = pvals0[i]

In [18]:
df_new.reset_index(inplace=True)
del df_new['index']

In [20]:
lmm_pval = df_new["lmm-pval"]
lmm_rank_pval = df_new["lmm-rank-pval"]
qep_pval = df_new["qep-pval"]

del df_new["lmm-pval"]
del df_new["lmm-rank-pval"]
del df_new["qep-pval"]

df_info = df_new

In [21]:
df_info.head()

              gene  intron                snp_id  chrom       pos
0  ENSG00000000419       5       snp_19_42131442     20  42131442
1  ENSG00000000419       5  indel:1I_19_42131753     20  42131753
2  ENSG00000000419       5       snp_19_42132193     20  42132193
3  ENSG00000000419       5       snp_19_42132273     20  42132273
4  ENSG00000000419       5       snp_19_42132314     20  42132314

In [29]:
lmm_pval.name = 'p-value'
lmm_rank_pval.name = 'p-value'
qep_pval.name = 'p-value'
# pd.concat([lmm_pval.to_frame(), lmm_rank_pval.to_frame(), qep_pval.to_frame()]).head()

In [31]:
lmm_pval = lmm_pval.to_frame()
lmm_rank_pval = lmm_rank_pval.to_frame()
qep_pval = qep_pval.to_frame()

In [32]:
lmm_pval.

    p-value
0  0.477324
1  0.039244
2  0.573356
3  0.825621
4  0.910330

In [ ]:
DF = pd.DataFrame(columns=['label', 'marker', 'p-value']).set_index(['label', 'marker'])
DF['p-value'] = DF['p-value'].astype(float)
df.head()

In [14]:
crazy_pheno = ('ENSG00000198707', 30)
DF = df.loc[crazy_pheno]

In [15]:
DF.head()

                        chrom  lmm-pval  lmm-rank-pval       pos  qep-pval  \
gene            intron
ENSG00000198707 30         12  0.565990       0.406775  46305195  0.725617
                30         12  0.455498       0.516151  46306177  0.795704
                30         12  0.187185       0.268237  46306285  0.769444
                30         12  0.570574       0.412561  46306826  0.729905
                30         12  0.455498       0.516151  46307680  0.795704

                                 snp_id
gene            intron
ENSG00000198707 30      snp_11_46305195
                30      snp_11_46306177
                30      snp_11_46306285
                30      snp_11_46306826
                30      snp_11_46307680

In [16]:
DF['lmm-rank-pval'].min()

3.4508181568523267e-24

In [13]:
from horta_exp.introns.fetch_data import get_intron_events
introns = get_intron_events()
introns.head()

                                       assay  nsuc  ntri
gene            intron
ENSG00000000419 5       HG00096.1.M_111124_6    37   347
                5       HG00097.7.M_120219_2    68   451
                5       HG00099.1.M_120209_6    31   327
                5       HG00099.5.M_120131_3    34   289
                5       HG00100.2.M_111215_8    35   281

In [17]:
introns.loc[crazy_pheno]

                                       assay  nsuc  ntri
gene            intron
ENSG00000198707 30      HG00096.1.M_111124_6     0    18
                30      HG00097.7.M_120219_2     0    68
                30      HG00099.1.M_120209_6     0    45
                30      HG00099.5.M_120131_3     0    39
                30      HG00100.2.M_111215_8     0    33
                30      HG00101.1.M_111124_4     0    38
                30      HG00102.3.M_120202_8     0    39
                30      HG00103.4.M_120208_3     0    23
                30      HG00104.1.M_111124_5     0    40
                30      HG00105.1.M_120209_7     0    22
                30      HG00105.3.M_120223_6     0    57
                30      HG00106.4.M_120208_5     0    48
                30      HG00108.7.M_120219_2     0    54
                30      HG00109.1.M_120209_4     0    30
                30      HG00110.2.M_120131_2     0    22
                30      HG00111.1.M_120209_8     0    17
                30      HG00111.2.M_111215_4     0    27
                30      HG00112.6.M_120119_2     0    37
                30      HG00114.1.M_120209_3     0    35
                30      HG00114.6.M_120217_1     0    33
                30      HG00115.6.M_120119_1     0    24
                30      HG00116.2.M_120131_1     0    11
                30      HG00117.1.M_111124_2     0    83
                30      HG00118.4.M_120208_5     0    49
                30      HG00119.1.M_120209_3     0    54
                30      HG00119.2.M_111216_6     0    89
                30      HG00120.3.M_120202_2     0    13
                30      HG00121.1.M_111124_7     0    35
                30      HG00122.6.M_120119_1     0    39
                30      HG00123.4.M_120208_7     0    36
...                                      ...   ...   ...
                30      NA20785.4.M_120208_1     0    10
                30      NA20786.2.M_111215_8     0    25
                30      NA20787.6.M_120119_3     0    31
                30      NA20790.2.M_111215_6     0    31
                30      NA20792.6.M_120119_6     0    17
                30      NA20795.5.M_120131_1     0    97
                30      NA20796.1.M_120209_2     0   118
                30      NA20797.2.M_111215_6     0    51
                30      NA20798.6.M_120119_6     0    22
                30      NA20799.1.M_111124_3     0    55
                30      NA20800.1.M_111124_5     0    59
                30      NA20801.7.M_120219_5     0    72
                30      NA20802.1.M_111124_7     0    21
                30      NA20803.7.M_120219_1     0    49
                30      NA20804.4.M_120208_1     0    40
                30      NA20805.4.M_120208_7     0    37
                30      NA20806.3.M_120202_5     0    14
                30      NA20807.5.M_120131_1     0    93
                30      NA20808.4.M_120208_6     0    32
                30      NA20809.6.M_120119_2     0    16
                30      NA20810.2.M_111215_7     0    33
                30      NA20811.1.M_111124_5     0    41
                30      NA20812.2.M_111216_6     0    38
                30      NA20813.5.M_120131_1     0    51
                30      NA20814.2.M_111215_6     0    60
                30      NA20815.5.M_120131_5     0    14
                30      NA20816.3.M_120202_7     0    20
                30      NA20819.3.M_120202_2     0    32
                30      NA20826.1.M_111124_1     0    24
                30      NA20828.2.M_111216_8     0    40

[571 rows x 3 columns]

In [18]:
introns.loc[crazy_pheno]['nsuc'].unique()

array([0, 1])

In [21]:
np.mean(introns.loc[crazy_pheno]['nsuc']/introns.loc[crazy_pheno]['ntri'])

3.9504850704414478e-05